{**
 * Displays selected information of a local room.
 *}
<div id="sidebar">
    <div class="post_messages"><br />
    Title: <b>{$localRoom->title}</b><br /><br />
    Owner name: <b>{$owner->name} {$owner->surname}</b><br /><br />
    Owner contact: <b>{$owner->email}</b><br /><br />
    Created: <b>{$localRoom->created}</b></div>
</div>
