{**
 * Displays all rooms with a local room.
 *}
<div n:foreach="$rooms as $room" class="post">                
    <li {if $room->id_rooms == $localRoom->id_rooms} class="current_room" {/if}>
        <a n:href="Debate:room $room->id_rooms">{$room->title}</a>   
    </li>
</div>
<div class="post"><li><a n:href="Homepage:create">►</a></li></div>