{**
 * Displays list of rooms and form for editation of local user.
 *}
{block content}
<div id="navigation">
    <div id="nav1">
        <ul>
            {include ../components/global/printRooms.latte} 
        </ul>
        <div class="clearer">&nbsp;</div>
    </div>
</div>
            
<div id="main">
    <div id="sidebar">
        {control editForm}
    </div>
</div>
<div class="clearer">&nbsp;</div>
{/block}
