/*  
Release date: 2017-13-01
Author: Jakub Kubista
*/


/* Reset */              
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-size: 100%; 
    vertical-align: baseline; 
    background: transparent; 
} 
body {line-height: 1; } 
ol, ul {list-style: none; } 
blockquote, q {quotes: none; } 
blockquote:before, blockquote:after, q:before, q:after { 
    content: ''; 
    content: none; 
} 
:focus {outline: 0;}
ins {text-decoration: none; } 
del { text-decoration: line-through; }
table { border-collapse: collapse; 
        border-spacing: 0;
}

/*********



**********/

/* Main */
html {
	height: 100%;
	padding-bottom: 1px; /* force scrollbars */
}
body {
	background: #202020 url('../images/body.gif') repeat-x left top;
	color: #5A5A50;
	font: normal 0.8em sans-serif;
	line-height: 1.5em;	
}

/* Types and Pictures */
p {padding: 0.2em 0 1em;}

h1 {font: normal 2em sans-serif;}
h2 {font: normal 1.8em sans-serif;}
h3 {font: normal 1.6em sans-serif;}
h4 {font: normal 1.4em sans-serif;}
h5 {font: bold 1.2em sans-serif;}
h6 {font: bold 1em sans-serif;}

h1,h2,h3,h4,h5,h6 {
	color: #456;
	margin-bottom: 0.3em;
}

blockquote {
	background: url('../images/avatar.png') no-repeat;
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
	color: #332;
	display: block;
        padding: 0.05em 0.8em 0.0em;
	padding-left: 45px;
        padding-top: 2px;
}

#avatar {
	background: url('../images/avatar_admin.png') no-repeat;
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
	color: #332;
	display: block;
        padding: 0.05em 0.8em 0.0em;
	padding-left: 45px;
        padding-top: 2px;
}


/* Floats */
.left {float: left;}
.right {float: right;}
.center {margin: 0 auto;}
.clear,.clearer {clear: both;}
.clearer {
	display: block;
	font-size: 0;
	line-height: 0;
	height: 0;
}

/* Layouts */
#layout_wrapper_outer {background: url('../images/layout_wrapper_outer.jpg') no-repeat center top;}
#layout_wrapper {
	color: #FFF;
	margin: 0 auto;
	width: 906px;
}
#layout_top {height: 80px;}
#layout_body_outer {background: #373737 url('../images/layout_body_outer.jpg') repeat-x;}
#layout_body {
	background: url('../images/layout_body.gif') no-repeat;
	padding: 8px 8px 0;
}

#layout_body2 {
	background: url('../images/layout_body2.gif') no-repeat; 
        font: bold 1.3em sans-serif;
	padding: 8px 8px 8px 0;
        float: right;
        position: relative;
        top: -38px;
}
#layout_body2 a{
	text-align: center;
	text-decoration: none;
        float: left;
	margin-right: 1px;
}

/*   Forms  */
fieldset {
	border: 1px solid #CCC;
	border-bottom: none;	
	font-size: 0.9em;
	margin: 1em 0 1.2em;
}

input, textarea, select {
	background-color: #FFF;
	border: 1px solid #777;
	border-color: #777 #CCC #CCC #777;
	font: normal 1em Verdana,sans-serif;
	padding: 5px 6px;
        margin: 7px 15px;
}
textarea{
        width: 522px;
        resize: none;
        overflow: auto;
}
input2{
        width: 200px;
}
input.button {
	background: #FAFAFA;
	border: 1px solid #AAA;
	border-color: #DDD #AAA #AAA #EEE;
	color: #444;
	cursor: pointer;
	font: normal 1em Verdana,sans-serif;
	margin-top: 5px;
	padding: 6px;
	width: auto;
}
button{
    	background: #E5E5E5;
	color: #777;
	font: bold 1.3em sans-serif;
	padding: 6px 10px;
        width: 100px;
        position:relative;
        left: 452px;
}
input:focus,input:active,textarea:focus,textarea:active,select:focus,select:active,input.button:hover,input.button:focus {background: #FFFFF5;}
input.button:hover, input.button:focus {
	color: #123;
	cursor: pointer;
}

textarea {overflow: auto;}

input.image {
	border: 0;
	padding: 0;
}

/* Site title */
#site_title {
        padding: 28px 12px 0;
        background: url('../images/chat-icon.png') no-repeat;
        background-position: 30px 4px;
}
#site_title a {
	color: #C60000;
        padding-left: 90px;
	text-decoration: none;
}
#site_title a:hover {color: #FFF;}
#site_title h1 {
	font-size: 2.4em;
	margin-bottom: 6px;
}
#site_title h1 span {color: #C0C6CF;}
#site_title h2 {
	color: #789;
	font-size: 1.2em;
}

/* Navs */
#navigation {
	background: #3A3A3A url('../images/navigation.gif') no-repeat;
	font: bold 1.3em sans-serif;
	padding: 0 8px;
}
#navigation ul, #navigation li {display: inline;}
#navigation li {display: inline;}
#navigation a {
	float: left;
	margin-right: 1px;
	text-align: center;
	text-decoration: none;
}

#navigation2 {
	background: #3A3A3A url('../images/navigation2.gif') repeat;
	padding: 0 8px;
}

#nav1 {
max-width: 650px;
}

#nav1 a {
	color: #BBB;
	padding: 10px 12px 12px;
}
#nav1 a:hover {color: #EEE;}
#nav1 li.current_room a,#nav1 li.current_room a {
	background: url('../images/nav1_arrow.gif') no-repeat center bottom;
	color: #FFEBEB;	
}

#nav2 a {
	color: #FFEBEB;
	padding: 10px;
}
#nav2 {
	background: url('../images/nav2.gif') repeat;
	margin: 0 -8px;
	padding: 0 8px;
}
#nav2 a:hover {color: #FFFFFF; opacity: 0.7;}
#nav2 li.current_room a {color: #FFF;}

#nav_middle a {
	color: #FFEBEB;
	padding: 10px;
        position: relative;
        left: 18px;
}
#nav_middle {
	background: #5090AE url('../images/nav2.gif') repeat;
        /*padding-top: -30px;*/
        width: 112px;
        border-radius:6px 6px 0px 0px;
}
#nav_middle :hover {
        background: #5090AE url('../images/layout_body_outer2.jpg') repeat; 
        width: 103px;
        left:-8px;
        border-radius:6px 6px 0px 0px;
}
#nav_middle a:hover {color: #FFF;}
#nav_middle li.current_room a {color: #FFF;}

#nav_small a {
	color: #FFEBEB;
	padding: 10px;
        position: relative;
        left: 18px;
}
#nav_small {
	background: #5090AE url('../images/layout_body_outer2.jpg') repeat;
        /*padding-top: -30px;*/
        width: 112px;
        border-radius:6px 6px 0px 0px;
}
#nav_small :hover {
        background: #5090AE url('../images/nav2.gif') repeat; 
        width: 92px;
        left:0px;
        border-radius:6px 6px 0px 0px;
}
#nav_small a:hover {color: #FFF;}
#nav_small li.current_room a {color: #FFF;}

#nav_big a {
	color: #FFEBEB;
	padding: 10px;
        position: relative;
        left:-2px;
}
#nav_big{
        background: #5090AE url('../images/layout_body_outer2.jpg') repeat; 
        /*padding-top: -30px;*/
        width: 112px;
        border-radius:6px 6px 0px 0px;
}
#nav_big :hover {
	background: #5090AE url('../images/nav2.gif') repeat;
        width: 103px;
        left:-5px;
        border-radius:6px 6px 0px 0px;
}
#nav_big a:hover {color: #FFF;}
#nav_big li.current_room a {color: #FFF;}

#nav6{
        /*float:center;*/

        margin: 0 auto; 
        width: 80px;
        border: 1px solid;
        background: #FFEBEB;
        text-align: center;
}
#nav6 a{
	text-decoration: none;
}
/* Main */
#main {
	background: url('../images/main.gif') repeat-y;
	border-bottom: 1px solid #C5C5C5;
}
#main ol, #main ul {margin: 0 0 1.2em 1.6em;}
#main ul li {list-style: disc;}
#main ol li {list-style: decimal;}
#main li {padding: 2px 0;}

#content_outer {
	border-top: 1px solid #FFF;
	width: 629px;
}
#content {	
	color: #444;
	padding: 16px;
}

/* Sidebar */
#sidebar_outer {
	border-top: 1px solid #EEE;
	width: 259px;
}
#sidebar {
	color: #555;
	padding: 16px 12px;
}
#sidebar a {color: #555;}
#sidebar a:hover {color: #000;}

/* Footer links */
#footer {
	background: url('../images/footer.gif') no-repeat;
	color: #777;
	font-size: 0.9em;
	padding: 22px 8px 10px;
}
#footer a {color: #999;}
#footer a:hover {color: #999;}

/* Posts */
.post {margin-bottom: 24px;}
.post_messages a {
        text-decoration: none;
        color: #345; 
}
.post_messages a:hover {
        text-decoration: underline;
        color: #001;
}
.post_messages {
	background: #E7E7E7;
	border: 1px solid #D7D7D7;
	color: #777;
	font-size: 0.9em;
	padding: 6px 10px;
        height: 300px;
        overflow: auto; 
        word-wrap: break-word;
}

/* Box */
.box {margin-bottom: 0.6em;}
.box_title {
	background: #E5E5E5;
	border: 1px solid #EAEAEA;
	border-color: #EAEAEA #D5D5D5 #D5D5D5 #E5E5E5;
	color: #777;
	font: bold 1.3em sans-serif;
	padding: 6px 10px;
}
.box_content {padding: 8px 0 8px;}
.box li:first-child {border-top: none;}

/* Info Room */
#showInfo{display: none;}
#showMessages{display: block;}